meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del mercado I
meta(meta name="description" content="Se inicia el abordaje de las temáticas asociadas al mercado de la moda, las cuales son de vital importancia para el contexto del desarrollo de colecciones, ya que es a través del conocimiento del mercado que es posible conseguir el éxito esperado para los productos de moda.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")