.container#investigacion

    .header-ecored
        h1 1. Investigación de la moda
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")
        .card-body
            p La investigación de moda, desde su definición, se constituye en parte #[b.txt-color1 importante] del #[b.txt-color1 proceso creativo]. 
            p.mt-4 Desde su comienzo como fuente de inspiración, procesando información en cada etapa y llevándola a lo relevante y necesario para realizar una colección de productos indumentarios, a través de #[b.txt-color1 herramientas de interpretación visual], teniendo siempre en cuenta a quién va dirigida, con información original y de primera mano, validando el proceso con preguntas y elementos clave y concretando el concepto claro, se llevará a la materialización del producto. Lo que le permite al diseñador de modas que todos los productos de la colección #[b.txt-color1 hablen el mismo lenguaje y se enfoquen en el concepto desarrollado].
    
    br#intro

    .header-ecored
        h2 1.1 Introducción a la investigación en el mundo de la moda, ¿Qué, por qué y para quién investigar?
    
    .jumbotron.bg-white.shadow
        img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%").img-a
        section
            .row.justify-content-center
                .col-auto
                    a(href="https://www.questionpro.com/es/investigacion-de-campo.html" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Investigación de campo
                .col-auto
                    a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Porqué investigar y cómo conducir una investigación
        
        .row.mx-0.bg-color1.rounded.mt-4.shadow
            .col-12.my-5
                .row.justify-content-center
                    .col-9
                        p.mb-0.text-right #[i (Hernández et al., 2014; Manterola & Tamara Otzen, 2013)]
    
    br#indagar

    .header-ecored
        h2 1.2 Indagar y elegir tema de investigación
    
    .jumbotron.bg-white.shadow
        p Las ideas o iniciativas de investigación surgen de la necesidad de #[b.txt-color1 ahondar sobre un tema] del cual no se tiene el suficiente conocimiento o se desea ampliar su nivel de profundidad. Al elegir el tema se debe #[b.txt-color1 indagar] un poco sobre:
        img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 100%").img-a
        p En fin, todo ayuda a hacerse una idea al respecto del tema antes de adentrarse en el proceso de investigación. #[b.txt-color1 Una vez se tiene claro qué investigar se procede a buscar en las fuentes de información].
        p #[i (Hernández et al., 2014; Manterola & Tamara Otzen, 2013)]
        section.mt-6
            .row.justify-content-center
                .col-auto
                    a(href="https://www.esic.edu/rethink/management/la-investigacion-analisis-tendencias-nueva-aliada-la-estrategia" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p La investigación y análisis de tendencias como nueva aliada en la estrategia
        .row.justify-content-center.mt-6
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zsqemeClPqQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#fuentes

    .header-ecored
        h2 1.3 Fuentes de información e investigación: introducción a las macrotendencias y microtendencias, fuentes de inspiración
    
    .jumbotron.bg-white.shadow
        #accordionExample.accordion
            .card
                #heading1.card-header.bg-color2
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                            h2.mb-0.text-white 01
                #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                    .card-body
                        | Al abordar la #[b.txt-color1 investigación de moda], como en cualquier proceso de investigación, se inicia #[b.txt-color1 incluyendo todo el material referencial posible], para lo cual se acude a las fuentes de información, las cuales se clasifican en primarias y secundarias. 
            .card
                #heading2.card-header.bg-color3
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='false', aria-controls='collapse2')
                            h2.mb-0.text-white 02
                #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                    .card-body
                        | Las #[b.txt-color1 fuentes primarias] son de primera mano, información original, ideas o conceptos resultados de investigaciones que no han sido interpretadas o que surgen a partir de un trabajo directo de campo por primera vez.
            .card
                #heading3.card-header.bg-color2
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='false', aria-controls='collapse3')
                            h2.mb-0.text-white 03
                #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                    .card-body
                        | Las #[b.txt-color1 fuentes secundarias], son las fuentes de información que ya ha sido registrada o interpretada por otros autores previamente. Para el caso de #[b.txt-color1 la moda], se cuenta con #[b.txt-color1 investigación de campo], en la que el investigador mismo toma fotografías, videos, se entrevista con personas conocedoras sobre el tema o directamente con los usuarios.
            .card
                #heading4.card-header.bg-color3
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                            h2.mb-0.text-white 04
                #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                    .card-body
                        | Se cuenta como fuente de información los #[b.txt-color1 informes de macrotendencias, tendencias y microtendencias] publicados por las agencias internacionales, donde se interpreta la #[b.txt-color1 información emergente] en cuanto a la moda se refiere.
            .card
                #heading5.card-header.bg-color2
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='false', aria-controls='collapse5')
                            h2.mb-0.text-white 05
                #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                    .card-body
                        | Además de lo anteriormente mencionado, se incluyen las #[b.txt-color1 fuentes de inspiración], estas se encuentran en revistas, vídeos, películas, personajes, la naturaleza y en todo aquello que pueda constituirse como el origen de la inspiración del diseñador al momento de elaborar sus propuestas.
            .card
                #heading6.card-header.bg-color3
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                            h2.mb-0.text-white 06
                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                    .card-body
                        | El SENA cuenta con un amplio abanico de posibilidades, tanto para las fuentes de información, como para las de inspiración, condensadas en el sistema de bibliotecas, accediendo a las bases de datos como e-libro (base de datos para consultar libros en línea), #[i Fashion Snoop] (base de datos de tendencias de moda), Pasalapágina (base de datos de revistas), IRIS (sistema de consulta bibliográfica nacional). 
        p.text-right #[i Adaptado de: Fradera, s.f.; Roselló. s.f.; Seivewright. 2013; Silvestrini & Vargas. 2008.]
        p.mt-5 Revise este material para la profundización del tema.
        .row.pt-4
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true')
                            strong ¿Qué son las fuentes de información primarias en una investigación documental?
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false')
                            strong ¿Qué es una macrotendencia?
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SWCeVdlYnDA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZL4H8EYoRUo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.pt-4
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-03-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='true')
                            strong ¿Qué son las tendencias, quién las decide y cuánto duran?
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false')
                            strong Tendencia y Megatendencia
                    #nav-tabContent.tab-content
                        #nav-03.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-03-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/y2F71c9Pi_8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PAb6BTBW6X4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto.mt-4
                    a(href="https://www.revistagq.com/moda/articulo/tendencias-que-son-comos-se-deciden-cuanto-duran" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Tendencias: qué son, quién las decide y cuánto duran
                .col-auto.mt-4
                    a(href="http://gemmafraderabcn.com/tipos-de-tendencias-macrotendencias-y-microtendencias/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Tipos de tendencias: macrotendencias y microtendencias
                .col-auto.mt-4
                    a(href="http://apttperu.com/wp-content/uploads/2018/07/La-macrotendecia.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p La macrotendencia, uso y función dentro de una empresa de moda
                .col-auto.mt-4
                    a(href="http://elisabetrosello.com/como-son-las-tendencias-el-tamano-importa-un-poco-pero-solo-a-veces/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p ¿Cómo son las tendencias? El tamaño importa un poco, pero solo a veces
                .col-auto.mt-4
                    a(href="https://www.businessalamode.com/post/2017/09/08/macrotendencias-direccionando-a-la-moda-y-los-negocios-en-el-contexto-mundial" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Macrotendencias: direccionando a la moda y los negocios en el contexto mundial
                .col-auto.mt-4
                    a(href="https://login.bdigital.sena.edu.co/login?qurl=https%3A%2F%2Fwww.fashionsnoops.com" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Fashion Snoop
                .col-auto.mt-4
                    a(href="https://pasalapagina-com.bdigital.sena.edu.co/home-sena.html" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Pasalapágina
    
    br#metodologias

    .header-ecored
        h2 1.4 Metodologías para la gestión de la información: coolhunting y cooltsearching, Bloggers y trendsetters, comunidades o grupos de consumo, herramientas para cazar tendencias
    
    .jumbotron.bg-color4.shadow
        p En la investigación de moda se pueden encontrar diferentes roles y con ellos sus funciones. 
        .row.align-items-center.mt-4
            .col-12.col-md-6
                #accordionExample1.accordion
                    .card
                        #heading7.card-header.bg-color2
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='true', aria-controls='collapse7')
                                    h2.mb-0.text-white Coolhunting
                        #collapse7.collapse.show(aria-labelledby='heading7', data-parent='#accordionExample1')
                            .card-body
                                | #[i Coolhunting] (en español caza tendencias) y #[i coolsearching] (en español buscador de tendencias), son personas o agencias del medio de la moda, que se encargan de buscar, observar, analizar y clasificar de manera temprana la información del entorno (contexto mundial, nacional o local en todos sus aspectos) con el fin de simplificar y extraer la tendencia antes de que esta se produzca para saber invertir en ella en el momento oportuno. Son personas que ponen su creatividad estratégica al servicio de la innovación, publicando informes de tendencias que le sirven a las empresas y profesionales del medio.
                    .card
                        #heading8.card-header.bg-color3
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='false', aria-controls='collapse8')
                                    h2.mb-0.text-white bloggers
                        #collapse8.collapse(aria-labelledby='heading8', data-parent='#accordionExample1')
                            .card-body
                                | Los #[i bloggers] (blogueros) y #[i trendsetters] (pioneros) son (en su mayoría) personas naturales que adoptan las tendencias de manera temprana (en inglés #[i early adopters]), sirven como puente entre los cazadores de tendencias y los consumidores, validando las propuestas de los informes e innovando con la aplicación, mezcla y #[i looks] (en español atuendo completo) en sus publicaciones (#[i blogs] o #[i videoblogs]), convirtiéndose en prescriptores de moda.
                    .card
                        #heading9.card-header.bg-color2
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='false', aria-controls='collapse9')
                                    h2.mb-0.text-white Comunidades de consumo
                        #collapse9.collapse(aria-labelledby='heading9', data-parent='#accordionExample1')
                            .card-body
                                | Luego se encuentran las comunidades de consumo o la masa, quienes acceden a las tendencias de la moda una vez validada por los anteriores.
                p #[i (Coolhunting, cazadores de tendencias, s.f.; Estaún, 2018; Fernández, 2017; López, s.f.; Skotnicka, 2013; Wikipedia, s.f.-a)]
            .col-12.col-md-6
                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%").img-a1
        p.mt-4 En los documentos adjuntos encontrará información que le permitirá explorar un poco más el rol de quienes se han destacado como prescriptores de moda.
        section.mt-4
            .row.justify-content-center
                //-.col-auto.mt-4
                    a(href="http://queesunpersonalshopper.com/2015/09/09/quien-es-quien-en-el-mundo-de-la-moda-2-coolhunter/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p #[i Coolhunting]
                .col-auto.mt-4
                    a(href="https://www.iebschool.com/blog/coolhunting-marketing-digital/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Qué es el #[i Coolhunting]: ventajas, personajes, fases y etapas
                .col-auto.mt-4
                    a(href="http://increnta.com/co/blog/coolhunting-el-poder-detras-de-las-tendencias/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p #[i Coolhunting]: el poder detrás de las tendencias
                .col-auto.mt-4
                    a(href="https://www.tribunasalamanca.com/blogs/campamento-marketing/posts/coolhunting-cazadores-de-tendencias" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p #[i Coolhunting], cazadores de tendencias
                .col-auto.mt-4
                    a(href="media/documentos/Anexo_2.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Taller de #[i Coolhunting]
                .col-auto.mt-4
                    a(href="media/documentos/Anexo_3.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p #[i Coolhunting], o cómo entender y cazar las tendencias
                .col-auto.mt-4
                    a(href="media/documentos/Anexo_4.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p #[i Coolhunting] editorial, buscando tendencias
    
    br#recopilacion

    .header-ecored
        h2 1.5 Recopilación y análisis de datos: cuaderno de bocetos, técnicas de dibujo, el collage, yuxtaposición deconstrucción, referencias cruzadas, análisis de la investigación, centrarse en elementos claves (moodboards, storyboards, concepbook)
    
    .jumbotron.bg-white.shadow
        p En la tarea de obtener información de las fuentes de inspiración y de las metodologías utilizadas, ya se puede iniciar a validar y analizar los contenidos para lograr identificar puntos de valor. En esta fase del proceso se obtienen conclusiones y a veces se podrán encontrar ciertas dificultades o por el contrario decidir acciones a implementar.
        p Para llevar a cabo la búsqueda de información se emplean técnicas como el análisis de datos cualitativos y cuantitativos. El primero se centra en las opiniones, actitudes y creencias y en preguntas y respuestas como:
        img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 100%").img-a
        p y el segundo en los datos duros e información que pueda contabilizarse, obtenido mediante preguntas similares a:
        img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 100%").img-a
        p Para #[b.txt-color1 reunir la información y construir el concepto de la colección], el diseñador se vale de diferentes #[b.txt-color1 herramientas], siempre centrándose en los elementos clave de la investigación, según su experiencia o preferencia utiliza:
        p ------------Interactivo--------------------------
        p #[i Adaptado de Definicion.de, s.f.-b; Hernández, Fernández & Baptista, 2014; Melo, 2018; QuestionPro, s.f.-a; Seivewright, 2013.]
        section.mt-4
            .row.justify-content-center
                .col-auto.mt-4
                    a(href="https://annaand.co/post/que-es-un-moodboard-de-que-sirve-como-se-hace" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p ¿Qué es un moodboard de qué sirve cómo se hace?
                .col-auto.mt-4
                    a(href="https://www.dsigno.es/blog/diseno-de-moda/moodboard-que-es-y-para-que-sirve" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El moodboard: qué es y para qué sirve
                .col-auto.mt-4
                    a(href="https://fotocreativo.com/27-ejemplos-de-yuxtaposicion/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Ejemplos de yuxtaposición en la fotografía
                .col-auto.mt-4
                    a(href="https://www.arteneo.com/blog/el-cuaderno-de-bocetos-de-grandes-artistas/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El cuaderno de bocetos de los grandes artistas
                .col-auto.mt-4
                    a(href="https://www.superprof.co/blog/aprender-a-dibujar-que-especialidad/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p ¿Cuáles son las diferentes técnicas para dibujar?
                .col-auto.mt-4
                    a(href="https://www.educativo.net/articulos/principales-tecnicas-del-dibujo-artistico-1226.html" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Principales técnicas del dibujo artístico
    
    br#estructura

    .header-ecored
        h2 1.6 Estructura y forma de la colección: interpretación del concepto de la colección, cartas de color, formas, texturas, materiales, siluetas, procesos y acabados)
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")
        .card-body
            p Luego de tener el #[b.txt-color1 concepto claro], este #[b.txt-color1 se deberá traducir en productos], para lo cual se realiza una estructura previa de la colección, identificando los tipos de productos y cómo se interrelacionan entre sí, con el fin de darle forma a la colección y mantener un hilo conductor, el cual se logra mediante una estrecha relación con el concepto, teniendo en cuenta o formulando #[b.txt-color1 las cartas de color, formas, texturas, materiales, siluetas, procesos y acabados, que se harán tangibles en el producto final]. Es decir, cada uno de los productos de la colección corresponderá al concepto desarrollado y entre todos hablarán el mismo lenguaje.
            p.mt-4 Para el desarrollo de los productos algunos diseñadores recurren al prototipado sobre maniquí, también conocido como drapeado (en inglés #[i Draping]), otros al dibujo o a técnicas de sobreposición de imágenes (técnicas vistas en el tema anterior).
            p.mt-4 #[i Adaptado de Castillo. s.f.; Corona. 2010; ESME Escuela de moda y empresa. s.f.; Seivewright. 2013; Tutoriales con la Miss. 2018]
            p.mt-4 Por medio de la consulta del siguiente material será posible ampliar los conocimientos de este tema.
            .row.mt-5.justify-content-center
                .col-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fkjgvkujtpk', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            section.mt-4
            .row.justify-content-center
                .col-auto.mt-4
                    a(href="https://fashionandillustration.com/bases-para-disenar-una-coleccion-de-moda/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Bases para diseñar una colección de moda: guía completa con imágenes y ejemplos
                .col-auto.mt-4
                    a(href="https://www.esmeonline.institute/cursos/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Los pasos para desarrollar una colección de moda
                .col-auto.mt-4
                    a(href="https://issuu.com/corona_baos/docs/thesis" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Desarrollo de colecciones de moda en la industria textil
    
    br#comunicacion

    .header-ecored
        h2 1.7 Comunicación de las ideas: dibujo aplicado al diseño, plantillas, ilustraciones, collage, dibujo de prototipo, composición, tablero de dibujo
    
    .card.shadow
        .card-body
            .row.align-items-center
                .col-12.col-md-6
                    p Llegó la hora de #[b.txt-color1 plasmar los conceptos a través de la comunicación creativa], moldeando de forma gráfica todo aquello que se encontró en la investigación.
                    p.mt-4 El concepto de comunicación proviene del prefijo “com” de compartir algo con otros; entonces, donde su verdadero sentido está en la intención de #[b.txt-color1 enviar mensajes] para #[b.txt-color1 estimular una respuesta] en la demás y dicha respuesta es la que permitirá saber que se fue comprendido por los demás.
                    p.mt-4 La palabra expresión proviene del término latino expressus es manifestar los pensamientos y las impresiones de nuestra realidad por medio de la palabra, gestos o actitudes”; “es la representación, a través de símbolos e imágenes de una manifestación de nuestra propia individualidad, y puede estar dirigida o no a otro sujeto” (Hiebaum, 2017).
                    p.mt-4 #[b.txt-color1 Todos los signos, símbolos y medios por los cuales transmitimos significados y valores a otros seres humanos, constituyen lo que llamamos formas de expresión] (Paoli. 1985; pág. 67).
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%").img-a

    .card.shadow
        .card-body
            .row.align-items-center
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%").img-a
                .col-12.col-md-6
                    p #[b.txt-color1 El dibujo] es una de las #[b.txt-color1 principales herramientas para la comunicación de ideas y de expresión gráfica], acercado en todas sus técnicas a la realidad y a la forma del producto. Este se realiza en forma de boceto o croquis a mano alzada y en algunos casos se obtiene de un software o programa de diseño para tal fin.
                    p.mt-4 #[b.txt-color1 Las plantillas] son dibujos o ilustraciones prediseñadas sobre las cuales, los diseñadores plasman sus ideas originales, lo que las convierte en una importante ayuda. En el software o programa de diseño la plantilla cumple #[b.txt-color1 la función de edición avanzada], lo cual permite lograr un sinnúmero de elementos.
                    p.mt-4 A las plantillas se les complementa con el dibujo del prototipo que es un acercamiento más a la realidad, pero limitada del producto y donde se permite validar una y otra vez hasta su aprobación final.
                    p.mt-4 Luego de usar plantillas y de tener el #[b.txt-color1 dibujo prototipo] se pasa a #[b.txt-color1 la ilustración técnica], en la que se representan gráficamente las prendas con detalles exactos, logrando con sus técnicas la realidad necesaria para entenderlas y llevarlas a cabo.
                    p.mt-4 Al igual que para el proceso investigativo, para el de comunicación algunos diseñadores acuden al collage como técnica de expresión.
    
    .card.shadow
        .card-body
            .row.align-items-center
                .col-12.col-md-6
                    p Al final del proceso investigativo se encuentra #[b.txt-color1 el tablero de dibujo] llamado #[i trends board] (paneles de tendencias o de indumentaria), una de las herramientas fundamentales de un investigador de moda. #[b.txt-color1 Ayuda a interpretar y delimitar todo aquello que se convertirá en tendencia]. En él se plasma, de manera gráfica, concreta y clara: la colección, imágenes conceptuales, referentes de la fuente de inspiración, el concepto que comunica la tendencia y los elementos de diseño que se desprenden de ella como la imagen de usuario actual y el aspiracional, la morfología (silueta), texturas visuales y táctiles, paleta de color y su proporción de uso sugerida, sistemas de acceso y cierre de los productos, prenda fetiche o #[i must] y los complementos de moda que completarán los atuendos.
                    p.mt-4 #[i Adaptado de Cámara Industrial Argentina de la Indumentaria (CIAI). s.f.-a, s.f.-b; Emprende a conciencia, s.f.; Escuela Superior de Diseño de Barcelona, 2018a, 2018b; GonzáLez, s.f.; Hiebaum, 2017; Ras, 2015.]
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%").img-a