.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Manterola & Tamara Otzen, (2013) Por qué investigar y cómo conducir una investigación.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_1.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Durazo, (2018), La macrotendencia, uso y función dentro de una empresa de moda.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_6.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td López, (s.f.), Taller de Coolhunting.
                    td Web
                    td 
                        a(href="https://www.academia.edu/36524596/Taller_de_coolhunting_Cazadores_de_tendencias", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Skotnicka, (2013), Coolhunting, o cómo entender y cazar las tendencias.
                    td Web
                    td 
                        a(href="http://www.emotools.com/contents/articulos-y-blogs/ines-skotnicka-coolhunting-o-como-entender-y-cazar/", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Comunicaciones Oui-we, (2014), Teorica de diseño de paneles para indumentaria 2014.
                    td Web
                    td 
                        a(href="https://es.slideshare.net/comunionesouiwe/teorica-de-diseode-paneles-para-indumentaria-2014", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Zapata, O, (2005), ¿Cómo encontrar un tema y construir un tema de investigación?
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_7.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Iglesias, J, (2015). El papel de las marcas de moda en la construcción de la identidad personal.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_8.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Silvestrini, M.,(2008), Fuentes de información primarias, secundarias y terciarias.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_9.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (s.f.), El storyboard o guion gráfico.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_10.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver